[Unit]
Description=Plice's Server

[Service]
Type=simple
ExecStart=/usr/local/bin/node /home/pi/plice-server/app.js
WorkingDirectory=/home/pi/plice-server

User=nobody
Group=nogroup

# Environment variables:
Environment=NODE_ENV=production

# Allow many incoming connections
LimitNOFILE=infinity

# Allow core dumps for debugging
LimitCORE=infinity

StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target