<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plice</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <div id="center">
        <div id="screen-container">
            <div id="screen">
                <% for (let i = 0; i < y; i++) { %>
                    <% for (let j = 0; j < x; j++) { %>
                        <div class="case" x="<%= j %>" y="<%= i %>"><%= screen[i][j] %></div>
                    <% } %>
                <% } %>
            </div>
        </div>
        <div id="validate-container">
            <div id="validate">
                <button id="validate-button">validate</button>
            </div>
        <div id="choices-container">
            <div id="choices"></div>
        </div>
    </div>
</body>
</html>
