@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Ubuntu Mono", serif;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#center {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#screen-container {
    display: block;
    width: 100vw;
    overflow-x: scroll;
    overflow-y: visible;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#screen {
    width: 560px;
    display: grid;
    grid-template-columns: repeat(40, 14px);
    grid-template-rows: repeat(25, 18px);
    border: 1px solid #979797;
    position: relative;
    overflow: visible;
    margin: 20px;
}

#screen>* {
    white-space: pre;
    transition: transform .05s;
    text-align: center;
    font-weight: 900;
    border: 1px solid #979797;
    cursor: pointer;
    background-color: #ffffff;
}

#screen>*:hover,
#screen>*[highlighted] {
    transform: scale(2);
}

#choices-container {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    /* Firefox */
    scrollbar-width: none;
    /* IE 10+ */
    -ms-overflow-style: none;
}

#choices {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    text-wrap: nowrap;
    justify-content: center;
}

#choices > * {
    display: inline-block;
}

#choices-container::-webkit-scrollbar {
    width: 0px;
    /* make scrollbar transparent */
    background: transparent;
}

/* #screen > * [highlighted] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(20);
    z-index: 10;
} */